<div style="padding: 1rem">
  <h3 style="margin-block: initial">AI Recommended Feature</h3>
  <hr style="border-color: #ddd" />
  <div style="padding: 0.5rem 0.25rem">
    <div *ngFor="let data of groupedData | keyvalue">
      <h4>{{ data.key }}:</h4>
      <div style="display: flex; gap: 0.5rem; flex-wrap: wrap">
        <div *ngFor="let val of $any(data.value | filter : true)" class="selector-chip">
          {{ val.value }}
          <strong (click)="val.flag = false; updatePipe()" class="chip-cross"> ⛌ </strong>
        </div>

        <select style="margin-left: 1rem" (change)="updateFlag($event, data.key)">
          <option>Choose...</option>
          <option *ngFor="let val of $any(data.value | filter : false)" [ngValue]="val">
            {{ val.value }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
