.hidden {
  display: none !important;
}
.selector-chip {
  background: purple;
  border-radius: 0.5rem;
  width: max-content;
  color: #fff;
  padding: 0.1rem 0.5rem;
  display: flex;
  align-items: center;
}
