.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/assets/background.png"); /* Adjust the path as needed */
  background-size: cover;
  background-position: center;
}

.content {
  display: flex;
  background: #0c023ec9;
  width: 60%;
  height: 70%;
  padding: 50px;
  border-radius: 20px;
  color: white;
}

.left {
  margin-right: 50px;
  width: 40%;
  color: #a9b1ff;
}

.right {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 1rem 2rem;
  color: #000;
  //   background: transparent;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #bbb;
}

select {
  width: 100%;
  padding: 10px;

  border: solid 1px #ccc;
  border-radius: 50rem;
  background: #fff;
  color: #000;
  font-size: 16px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  //   background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="black" d="M7 10l5 5 5-5z"/></svg>');
  //   background-repeat: no-repeat;
  //   background-position-x: 220px; /* Adjust based on your select width */
  //   background-position-y: center;
}

.select-icon {
  position: absolute;
  right: 1rem;
  top: 2.75rem;
  color: #bbb;
}

button {
  align-self: flex-end;
  padding: 10px 0px 10px 10px;
  border: none;
  border-radius: 10rem;
  background-color: black;
  color: white;
  font-size: 500;
  width: 30%;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}
